<div class="py-3 bg-light" id="adherer">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4 text-md-left text-center">
                <h6 class="">L’association EDUCAPEACE est une ONG à but non lucratif créée en 2014, enregistrée à la sous-préfecture de Meaux sous le n° : W771011659 ;
                    <br>Educapeace encourage / soutient également d'autres associations en participant à leurs évènements humanitaires pour l'amélioration de leurs projets (Unicef pour son projet d'eau potable au Togo), The bubble day pour le compte des handicapés
                    de Paris...</h6>
            </div>
            <div class="col-md-4 text-md-left text-center">
                <h6>Faites un don soit en envoyant un chèque à l'ordre de l'Association EDUCAPEACE à l'adresse :
                    <br>Assoication Educapeace, 13 allée de la lisière 77420 Champs Sur Marne
                    <br>A Soit par CB en cliquant ici</h6>
                <a href="https://www.donnerenligne.fr/educapeace/faire-un-don" target="_blank" class="btn btn-md text-white btn-primary mb-2">Je donne</a>
            </div>
            <div class="col-md-2 animate-in-right">
                <a href="/adhesion" class="btn btn-md btn-block btn-secondary text-white">J'adhère</a>
                <a href="#" class="btn btn-block btn-md btn-secondary text-white" data-toggle="modal" data-target="#authentificationModal">Je me connecte</a>
            </div>
        </div>
    </div>
</div>