<footer class="text-md-left text-center pt-3" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <img src="{{ asset('bundles/edu/assets/brandEducapeace.png') }}" class="mx-auto pb-2" width="180">
                <p>+33 (0)6 09 69 79 67</p>
                <p class="my-3">
                    <a target="blank">13 Allée de la Lisière
                        <br>77420 Champ sur Marne</a>
                </p>
            </div>
            <div class="col-lg-4 col-md-6">
                <h4>Contact</h4>
                <form>
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="Input Email" placeholder="Email"> </fieldset>
                    <fieldset class="form-group my-3">
                        <input type="message" class="form-control" id="Input Message" placeholder="Message"> </fieldset>
                    <button type="submit" class="btn btn-outline-secondary">Envoyez</button>
                </form>
            </div>
            <div class="col-lg-1"> </div>
            <div class="col-lg-3">
                <h4>Suivez nous</h4>
                <a href="https://www.facebook.com" target="blank"><i class="fa fa-facebook-square text-muted fa-3x m-1"></i></a>
                <a href="https://twitter.com" target="blank"><i class="fa fa-3x fa-twitter m-2 text-muted"></i></a>
                <a href="https://www.youtube.com" target="blank"><i class="fa fa-3x text-muted fa-youtube-play m-1"></i></a>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <p class="text-muted my-2">© {{ "now"|date('Y') }} Educapeace - tous droits réservés. </p>
            </div>
        </div>
    </div>
</footer>