<!-- Modal authentification -->
<div class="modal fade" id="authentificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="text-align: left">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Espace Adhérents</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div>
                        Veuillez-vous identifiez
                    </div>
                    <br>
                    <label for="basic-url">Email:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Saisissez votre E-mail" id="email" aria-describedby="basic-addon3">
                    </div>
                    <br>
                    <label for="basic-url">Mot de passe:</label>
                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="Saisissez votre mot de passe" id="password" aria-describedby="basic-addon3">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary">Connexion</button>
                </div>
                <div style="text-align: right;">
                    Par encore adhérent(e), <a href="/adhesion">cliquez-ici</a>&nbsp;&nbsp;<br><br>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Modal authentification -->