{# src/EduBundle/Resources/views/Adhesion/index.html.twig #}
{# Template Bundle #}

{% extends "EduBundle::layout_large.html.twig" %}

{% block title %}{{ page_titre }}{% endblock %}

{% block content %}
    <div class="row justify-content-center text-left">
        <div class="col-md-10 mx-4">
            <div class="cont-item py-3">
                <div class="row">
                    <h1 class="mt-3">Adhérer</h1>
                </div>
                <div class="row">
                    <p>L'Association EDUCAPEACE a pour vocation d’aider les familles à scolariser leurs enfants mineurs à l’école primaire et secondaire. Pour être efficace, nous concentrons notre action sur les zones du Cameroun, même si nous avons à cœur de faire
                        rayonner notre démarche partout dans le monde. Notre ambition est de faire baisser le taux d’analphabétisme dans ces régions, en améliorant les Infrastructures (eau et assainissement), en dotant les écoles de manuels et de fournitures scolaires,
                        et en aidant les parents à s’acquitter des frais de scolarité.</p>
                    <h5 class="text-center mx-auto text-info"><b>Notre démarche est basée sur une règle simple<br>1€ REÇU = 1€ RÉALISÉ</b></h5>
                    <h5><b>Pour réaliser ces projets, l'association a donc besoin de tout votre soutien et s'engage auprès de ses adhérents à :</b></h5>
                    <p>• Lui fournir une carte d’adhérent tous les ans après règlement de la cotisation annuelle selon chaque catégoriques.
                        <br>• Contacter et inviter les adhérents à participer aux événements organisés dans le but de récolter des dons et des matériaux en France.
                        <br>• Tenir les adhérents informés de l'actualité de l'association via la page Facebook et le site web.</p>
                    <h5><b>L'adhérent pourra entre autres :</b></h5>
                    <p>• Participer aux assemblées générales ordinaires de l'association si celui-ci en fait la demande.
                        <br>• Soumettre des idées aux membres par n'importe quel biais de contact, et proposer à l'association de prendre part à un événement avec la possibilité de récolter des produits ou des dons.
                        <br>• Avoir accès sur demande à la comptabilité pour s'assurer de l'utilisation de son don et du montant de son adhésion.</p>
                    <h5><b>Avantages :</b></h5>
                    <p>• 5% de réduction sur les objets en vente dans l’espace boutique solidaire.
                        <br>• 5% de réduction sur l’accès aux concerts caritatifs educapeace.
                        <br>• 5% de réduction sur les pâtisseries, mets Africain lors de nos évènements.</p>
                </div>
            </div>
            <!--/cont-item-->
            <div class="cont-item py-3">
                <div class="row">
                    <h1 class="mt-3">Parrainez</h1>
                </div>
                <img src="{{ asset('bundles/edu/assets/parrainnage.png') }}" class="img-fluid animate-in-left">
                <div class="row pt-3">
                    <h5 class="text-center mx-auto text-info"><b>Participez au programme de parrainage educapeace</b></h5>
                </div>
                <div class="row ">
                    <h5><b>L'utilisation de vos dons</b></h5>
                    <p>A travers une correspondance personnalisée, vous allez pouvoir créer un lien et donner de l’espoir à ces enfants. Un regard bienveillant, des encouragements, une aide à la scolarité!</p>
                    <h5><b>Le projet pédagogique</b></h5>
                    <p>• Accueillir des enfants sans distinction de sexe, de milieu social,culturel ou religieux.
                        <br>• Donner aux jeunes qui lui sont confiés en plus d’une instruction scolaire solide, une formation humaine pour les préparer à une vie d’hommes et de femmes responsables.
                        <br>• Entretenir un climat familial qui permet aux jeunes de se sentir aimés, reconnus,soutenus,et écoutés.</p>
                    <h5><b>Le parrainage d'un élève</b></h5>
                    <p>Vous entretenez une relation personnalisée avec votre filleul(e). Vous suivez sa scolarité si possible pendant tout son cycle scolaire (primaire, collège, lycée). Vous recevez sa photo et sa correspondance 2 fois par an vous informant aussi
                        de la vie de l’école.</p>
                    <h5><b>La correspondance</b></h5>
                    <p>Vous recevez votre première lettre à la fin du trimestre scolaire qui suit le début de votre parrainage. Vos lettres sont un support moral important pour les enfants, elles témoignent de votre intérêt pour la vie et la scolarité de votre filleul(e)
                        ou de la classe.</p>
                </div>
            </div>
            <!--/cont-item-->
        </div>
    </div>
{% endblock %}